<div class="node-exits">
    <div *ngFor="let exit of node.getDisplayExits() | keyvalue: originalOrder" class="node-exit">
        <!-- The name of the exit -->
        <div class="exit-name">{{ exit.key }}</div>
        <!-- Arrow icon pointing towards the node. -->
        <mat-icon>
            arrow_forward
        </mat-icon>
        <div class="exit-node" *ngIf="exit.value.getExitNode() !== null">
            <button class="drag-area sidebar-clickable">
                <mat-icon class="node-exit-icon">more_vert</mat-icon>
            </button>
            <button (click)="handleExitNameClick(exit.value.getExitNode())" class="node-exit-name">{{ exit.value.getExitNode ()?.getDisplayName () }}</button>
            <button class="node-exit-edit sidebar-clickable">
                <mat-icon class="node-exit-icon">
                    edit
                </mat-icon>
            </button>
        </div>
        <!-- Display an empty exit button, used to allow for more exits to be added. -->
        <button class="empty-exit-node exit-node sidebar-clickable" *ngIf="!exit.value.getExitNode()">
            <mat-icon class="node-exit-icon">add</mat-icon>
        </button>
    </div>
</div>