<div class="flow-node-wrapper" #nodeWrapper>
    <div (click)="handleNodeClick()" *ngIf="flowNode" [class]="flowNode.getState()" class="flow-node">
        <div class="content-wrapper">
            <div class="flow-node-icon">
                <mat-icon>{{flowNode.getNodeIcon ()}}</mat-icon>
            </div>
            <div class="flow-node-name">
                {{flowNode.getDisplayName ()}}
            </div>
        </div>
        <div class="flow-node-number">
            #{{flowNode.getNodeId ()}}
        </div>
        <div class="flow-node-note" *ngIf="flowNode.hasNodeNote()"></div>
    </div>
    <ng-container *ngIf="hasExits">
        <div class="node-exits">
            <ng-container
                    *ngFor="let nodeExit of getNodeExits() | keyvalue: originalOrder; first as isFirst; last as isLast; index as idx">
                <flow-node-exit [nodeExit]="nodeExit.value" [isFirst]="isFirst" [isLast]="isLast"
                                [passThroughNodeIds]="getPassThroughNodeIds(idx)"
                                [parentNodeId]="flowNode.getNodeId()"></flow-node-exit>
            </ng-container>
        </div>
    </ng-container>
</div>