<div class="sidebar-container">
    <mat-tab-group>
        <mat-tab label="Node Properties">
            <div class="node-properties">
                <div class="node-title">
                    {{selectedNode ? selectedNode.getDisplayName () : ''}}
                </div>
                <div class="node-option">
                    find and delete node.
                    notes
                </div>
                <hr>
                <div class="node-body">
                    node specific content
                </div>
                <div class="node-exits">
                    <div class="node-exits-header">
                        Node Exits
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Search"> Content 2</mat-tab>
        <mat-tab label="Validation"> Content 3</mat-tab>
    </mat-tab-group>
</div>