<div class="sidebar-container">
    <mat-tab-group>
        <mat-tab label="Node Properties">
            <div class="node-properties" *ngIf="selectedNode">
                <div class="node-title node-header">
                    <div class="node-id">
                        #{{selectedNode.getNodeId ()}}
                    </div>
                    <div class="node-name">
                        {{selectedNode.getDisplayName ()}}
                    </div>
                </div>
                <div class="node-option">
                    <div class="node-actions">
                        <button class="flat-button" (click)="handleFocusClicked()">
                            <mat-icon>search</mat-icon>
                            Find Node
                        </button>
                        <button class="flat-button">
                            <mat-icon>delete</mat-icon>
                            Delete Node
                        </button>
                    </div>
                    <div class="node-note">
                        <textarea placeholder="Click to add note..." [value]="selectedNode.getNodeNotes()">
                        </textarea>
                    </div>
                </div>
                <hr>
                <div class="node-body">
                    <div class="no-config">
                        No Configuration Parameters Available of this Node.
                    </div>
                </div>
                <div class="node-exit-container">
                    <div class="node-title node-exits-header">
                        <div class="node-name">Node Exits</div>
                    </div>
                    <div class="node-exits-wrapper">
                        <flow-sidebar-node-exits *ngIf="nodeWithExits" [node]="nodeWithExits"></flow-sidebar-node-exits>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Search"> Content 2</mat-tab>
        <mat-tab label="Validation"> Content 3</mat-tab>
    </mat-tab-group>
</div>